body, h3, p {
    margin: 0;
}
ul {
    padding: 0;
}

.container {
    background-color: lightyellow;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.container::before, .container::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}
.container::before {
    width: 25rem;
    height: 25rem;
    background: lightcoral;
    top: -6rem;
    right: -6rem;
}
.container::after {
    width: 20rem;
    height: 20rem;
    background: lightgreen;
    bottom: -8rem;
    left: -8rem;
}
h1 {
    text-align: center;
    margin-top: 3rem;
}
.introduction {
    width: 80%;
    list-style: none;
    background: #FFF;
    border-radius: 1rem;
    box-shadow: 0 0 5px 0 lightgray;
    margin: 0 auto 3rem auto;
}
.introduction li {
    padding: 1rem 1rem 2rem 1rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}
.introduction li:not(:last-child) {
    border-bottom: 1px solid lightgray;
}
.introduction li h3 {
    border-bottom: 1px dashed lightgray;
    padding: 1rem;
}
.introduction li p {
    text-indent: 2rem;
    padding: 1rem 1rem 0.5rem 1rem;
    line-height: 1.8;
}
.introduction li ul.list {
    list-style: square;
    margin-left: 4rem;
}
.introduction li ul.list li {
    border: none;
    padding: 0 0 0.5rem 0;
}

.footer {
    text-align: center;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .introduction {
        width: 85%;
    }
}
@media (max-width: 568px) {
    .introduction {
        width: 90%;
    }
}